<style>
    .container {
        margin-top: 30px;
        width: 70%;
        color: #224668;
    }
    
    p {
        font-weight: bolder;
        color: #224668;
        text-align: center;
        font-size: 24px;
    }
    
    #lgn {
		font-weight: bolder;
		color: #224668;
		text-align: center;
		font-size: 12px;
		float: right;
		margin-top: -10px;
	}
</style>

	
<div class="container">
	<button id="lgn" [routerLink]="['/login']" [hidden]="isHidden" [disabled]="!f.valid" class="btn btn-default">Login</button>
    <p>User Details</p>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th *ngFor="let col of columns">
                    {{col}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let object of characters | async">
                <td *ngFor="let col of users">
                    {{object[col]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
